# ======================
# ENVIRONMENT
# ======================
.env

# ======================
# DATABASES (LOCAL ONLY)
# ======================
*.db
*.db-journal
instance/

# ======================
# PYTHON CACHE
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd

# ======================
# VIRTUAL ENV
# ======================
venv/
venv311/

# ======================
# BUILD ARTIFACTS
# ======================
build/
dist/
*.spec

# ======================
# IDE
# ======================
.vscode/
.idea/

# ======================
# OS FILES
# ======================
Thumbs.db
.DS_Store